@charset "UTF-8";
*{
    outline:0
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoT.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoT.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoT.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoT.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoT.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoUL.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoL.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoL.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoL.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoL.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoR.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoM.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoSB.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 700;
    font-style: Bold;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoB.otf') format('opentype');
}


@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 700;
    font-style: Bold;
    src: url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.eot') format('eot'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.woff2') format('woff2'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.woff') format('woff'),
         url('../fonts/AppleSDGothicNeo/AppleSDGothicNeoEB.otf') format('opentype');
}


body{
    background-color: #F5F5F5;
} 

/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family: AppleSDGothicNeo,'Noto Sans KR', 'Malgun Gothic','맑은 고딕',dotum,'돋움', sans-serif; color: #000000; font-size: 13px; line-height: 1.2; font-weight: 500;}

a {
    color: #000000;
    text-decoration:none;
    background-color: transparent;
}
a:active,
a:hover {
    color: #000000;
    outline: 0;
}


ul,ol,li{
    list-style:none
}
fieldset,img{
    border:0
}
/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {font-size: 13px; font-weight: normal;}

/* 폰트크기 자동조절 제거 */
input::-ms-clear, input::-ms-reveal{
    display:none
} /* IE - select arrow remove */
img{
    border:0;
    vertical-align:top;
    -webkit-touch-callout:none
} /* 이미지 터치 팝업 제거 */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
textarea,button,input,select{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    border-radius:0;
}
button {
    outline: none;
    border: none;
    background-color: transparent;
}
button:focus,
button:active {
    padding: 0;
}
button, span{
    position: relative;
}
select::-ms-expand{
    display:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
label{
    cursor:pointer
}

h6 {
    font-size: 13px;
    font-weight: 700;
}


/* IR 효과 */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */


.wrap {
    width: 100%;
    margin: 0 auto;
}

.row {
    position: relative;
    padding: 0 14px;
    box-sizing: border-box;
}

.box{ -ms-overflow-style: none; } 
.box::-webkit-scrollbar{ display:none; }



@media (max-width: 768px) {
    .wrap {
        width: 100%;
    }
}

input {
    webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    font-size: 12px;
    height: 35px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    box-sizing: border-box;
}

/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

input::placeholder {
    color: #cccccc;
}


/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }


/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* Select box 스타일 초기화 */ 
select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }


input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 1px solid #e3e3e3;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type="checkbox"]:checked  + label > div {
    background-color: #EB0D2F;
    border-color: #EB0D2F;
}
input[type="checkbox"] + label > div > i {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}


.default_type {
	width: 100%; height: 47px;
	border: 1px solid #eeeeee;
	font-size: 13px;
	border-radius: 5px;
	padding: 0.2rem 1rem 0.2rem 1rem;
    box-sizing: border-box;
}
.default_type::placeholder {
	font-size: 13px;
	color: #9e9e9e;
}

button {
    cursor: pointer;
}


button.btn {
    width: 100%; height: 45px;
    background-color: #FE354D;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}


input.default_type_03 {
	width: 100%; height: 35px;
	border: none;
	border-bottom: 1px solid #eeeeee;
	font-size: 13px;
	border-radius: 5px;
	padding: 0.2rem 0 0.2rem 0;
    box-sizing: border-box;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }


/* 랜딩페이지 */
.ld_container {
    width: 1000px;
    margin: 0 auto;
}


#landing_page header > div {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#landing_page header {
    border-bottom: 1px solid #eeeeee;
}
#landing_page header button {
    height: 42px;
    padding: 0 25px;
    border: 1px solid #d6d6d6;
    border-radius: 42px;
    font-size: 14px;
    line-height: 42px;
}

.section {
    position: relative;
    height: 825px;
}

#section1 {
    position: relative;
    height: 635px;
    background-color: #EEF2F5;
}   
#section1 > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#section1 .main_text {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 25px;
}
#section1

#section1 > div > .text_box p {
    font-size: 18px;
}
#section1 .img_box {
    position: absolute;
    right: 0; bottom: -95px;
}
#section1 .btn_wrap {
    display: flex;
    align-items: center;
    margin-top: 55px;
}

#section1 .btn_wrap > button {
    width: 190px; height: 52px;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1 .btn_wrap > button:first-child {
    margin-right: 15px;
}
#section1 .btn_wrap > button.google_app_btn > div {
    display: inline-block;
    width: 147px; height: 35px;
    background: url(../img/landingPage/app_store_img.png) no-repeat top 0 left -111px;
    background-size: cover;
}


#section1 .btn_wrap > button.apple_app_btn > div {
    display: inline-block;
    width: 112px; height: 35px;
    background: url(../img/landingPage/app_store_img.png) no-repeat top 0 left 0;
    background-size: cover;
}



.section > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section .text_box .tit {
    font-size: 38px;
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 35px;
}












