// css 파일가져오기
@import "common.css";

$bgcolor: #F5F5F5;
$maincolor: #EB0D2F;

// fontcolor
$color_01: #F1F1F1;
$color_02: #cccccc;
$color_03: #9E9E9E;
$color_04: #8B8B8B;
$color_05: #666666;
$color_06: #313131;


@mixin font(
  $style: normal,
  $weight: normal,
  $size: 16px,
  $family: sans-serif
) {
  font: {
    style: $style;
    weight: $weight;
    size: $size;
    family: $family;
  }
}

// 믹스인 가져올때는 @include 믹스인이름;
@mixin large-text {
	font: {
	  size: 22px;
	  weight: bold;
	  family: sans-serif;
	}
	color: orange;
  
	&::after {
	  content: "!!";
	}
  
	span.icon {
	  background: url("/images/icon.png");
	}
}


@mixin display_varible (
	$display: flex,
	$align-items: center,
	$justify-content: center){
	display: $display;
	align-items: $align-items;
	justify-content: $justify-content;
}

// max-width: 100%;
// height: auto;
// margin-left: 12px;


// @mixin listWrap (
// 	$max-width: 100%,
// 	$height: auto,
// 	$margin-left: 12px,
// ) {
// 	max-width: $max-width;
// 	height: $height;
// 	margin-left: $margin-left;
// }


.navbar.sub {
	background-color: #ffffff !important;
}
#navbar {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 46px;
	background-color: transparent;
	z-index: 10;
	.row {
		height: 100%;
	}

	.navbar {
		width: 100%; height: 100%;

		@include display_varible($justify-content: space-between);

		> .right > button:first-child {
			margin-right: 5px;
		}

	}
}



/* 이미지 리스트 정렬 css*/
.listwrap {
	max-width: 100%;
    height: auto;
    margin-left: 12px;

	> ul {
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		text-align: left;
		font-size: 0;

		> li {
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
		}
	}

}


/* 라이브이미지 / 채널이미지 박스*/
.image_box {
	position: relative;
	width: 155px; height: 230px;
	border-radius: 5px;
	background-color: #cccccc;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image_box.h {
	height: 190px;
}
.background_img {
	max-height: 100%;
}



/* 채널설명 css */
p.desc {
	font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.45);
}

span.cnt {
	font-size: 12px;
    color: #ffffff;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.45);
}
span.date {
	font-size: 10px;
    color: $color_04;
}




/* 이미지 bottom 설명 */
.img_bottom_desc {
	position: relative;
    width: 100%; height: 35px;
	margin-top: 8px;

	> .img {
		position: absolute;
		top: 50%; left: 0;
		transform: translateY(-50%);
		overflow: hidden;
		width: 35px; height: 35px;
		border-radius: 3px;
		@include display_varible;

		img {
			max-height: 100%;
		}
	}

	.cnt {
		padding-left: 40px;
		height: 100%;
		flex-direction: column;
		@include display_varible($align-items: flex-start, );
		p {
			font-size: 12px;
			font-weight: 400;
		}

		strong {
			font-size: 12px;
			font-weight: 800;
			color: $maincolor;
		}
	}

}






.main_wrap {
	background-color: $bgcolor;
}
.main_banner {
	width: 100%;
	height: 295px;

	.swiper-slide {
		width: 100% !important;
		height: inherit;
		overflow: hidden;
		background-color: $color_01;
		text-align: center;
		font-size: 18px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	> img {
		max-height: 100%;
	}

	.swiper-pagination {
		width: auto;
		left: auto;
		bottom: 17px;
		right: 12px;
		background-color: rgba(0, 0, 0, 0.5);
		display: inline-block;
		padding: 4px 12px;
		color: #ffffff;
		border-radius: 12px;
	}
	.swiper-pagination span {
		font-weight: bold;
		font-size: 12px;
		line-height: 1.2em;

	}
}


.main_link {
	padding: 20px 0;
	background-color: #ffffff;
	margin-bottom: 10px;
}
.main_link_low {
	padding: 0 20px;
}

.main_link ul {
	font-size: 0;

	li {
		display: inline-block;
		vertical-align: top;
		width: 25%;

		a {
			width: 100%; height: 45px;
			padding: 5px 0;
			@include display_varible;
			flex-direction: column;
			span {
				display: inline-block;
				margin-top: 10px;
				font-size: 11px;
				color: $color_06;
				font-weight: 700;
			}
		}
	}
}

.main_wrap > .content > div {
	padding: 25px 0 35px 0;
	margin-bottom: 10px; 
	background-color: #ffffff;
	> h2 {
		font-size: 18px;
		font-weight: 700;
		padding: 0 12px 15px 12px;
	}
}

.main_live_cnt {
	background-color: #ffffff;
}

#main_live_list_wrap {
	ul li a {
		flex-direction: column;
		@include display_varible($align-items: flex-start);

		.live_image_box img.live_icon {
			position: absolute;
			top: 11px; left: 11px;
		}

		.live_image_box_text {
			position: absolute;
			left: 0; bottom: 11px;
			padding: 0 11px;

			p {
				margin-bottom: 4px;
			}

		}

	}
}


/* 메인 탭버튼 */
.main_tab_btn {
	margin-bottom: 18px;

	ul {
		font-size: 0;
		vertical-align: top;

		li {
			@include display_varible($display: inline-flex);
			width: 100px; height: 32px;
			border: 1px solid $color_01;
			background-color: $color_01;
			box-sizing: border-box;
			border-radius: 5px;

			span {
				font-size: 14px;
				margin-right: 6px;
			}

			&.on {
				border-color: #EB0D2F;
				background-color: #ffffff;

				span {
					color: #EB0D2F;
				}
			}

			img {
				vertical-align: middle;
			}
			
		}

		li:first-child  {
			margin-right: 10px;
		}
	}
}

/* 메인채널 css */
.channel_cnt {
	a {
		display: flex;
		@include display_varible($align-items: flex-start);
		flex-direction: column;

		.channel_cnt_text {
			position: absolute;
			left: 11px; bottom: 11px;
		}

		.img {
			border-radius: 28px;
		}
	
	}
}

.badge {
	position: absolute;
	top: 0; left: 0;
	background-color: $maincolor;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px 8px;

	span {
		font-size: 10px;
		color: #ffffff;
	}
}

/* 메인 스토리 */
.story_cnt {
	ul li a {
		.image_box {
			flex-direction: column;
			.story_cnt_text {
				position: absolute;
				left: 11px;
				bottom: 11px;
			}
	
		}

		.img {
			border-radius: 28px;
		}
	}
	
}







// 메인 중간배너
.main_wrap > .content > div.main_middle_banner {
	background-color: transparent;
}

.main_middle_banner .banner {
	border-radius: 10px;
	background-color: rgb(29, 29, 82);
	width: 100%; height: 110px;
	text-align: center;
	color: #ffffff;
}

.store_cnt {
	a {
		.store_wrap {
			border: 1px solid $color_01;
			box-sizing: border-box;
			width: 200px;
			border-radius: 5px;
			box-sizing: border-box;
			overflow: hidden;

			.store_img {
				position: relative;
				height: 165px;
				border-bottom: 1px solid $color_01;
				overflow: hidden;

				img {
					max-width: 100%;
					max-height: 100%;
					position: absolute;
					top: 50%; left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.store_info {
				height: 125px;
				padding: 12px;
				box-sizing: border-box;
				img.cash_badge {
					margin-bottom: 5px;
				}

				.store_name {
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 3px;
				}

				.store_category {
					font-size: 11px;
					color: $color_05;
					margin-bottom: 3px;
				}

				.store_address {
					color: $color_03;
					font-size: 10px;
					margin-bottom: 5px;
				}

				.channel_info {
					width: 100%;
					height: 32px;
					position: relative;

					.channel_img {
						position: absolute;
						box-sizing: border-box;
						width: 32px; height: 32px;
						border-radius: 30px;
						border: 1px solid $color_01;
						overflow: hidden;
						@include display_varible;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}

					.channel_name {
						display: block;
						height: 100%;
						line-height: 32px;
						padding-left: 40px;
						font-size: 10px;
						color: $color_03;
					}
				}

			}
		}
	}
}

.main_product_btn {
	margin-bottom: 15px;
}

.btn_list {
	li {
		display: inline-block;
	}
}


.common_list {
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	padding: 0 13px;
	background-color: $color_01;
	color: $color_05;
	border-radius: 32px;
	&.on {
		color: #ffffff;
		background-color: #FF566A;
	}
}


.main_product_cnt_list {

	a {
		.img {
			width: 145px;
			height: 145px;
			overflow: hidden;
			border-radius: 5px;
			@include display_varible;
			margin-bottom: 10px;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.product_price {
			width: 100%;

			span {
				font-weight: bold;
				font-size: 13px;
				color: #000000;
			}

			strong {
				margin-left: 5px;
				font-size: 13px;
				font-weight: 700;
				color: $maincolor;
			}
		}
	}
}


.storelist_content {

	> div {
		padding: 30px 0 20px 0;
		background-color: #ffffff;

		h3 {
			font-size: 16px;
			font-weight: bold;
			padding: 0 12px 15px 12px;
		}
	}

	> div:first-child {
		padding: 60px 0 20px 0;
		margin-bottom: 10px;
	}

	.storelist_all_list {
		
		.storelist {

		}
		
	}

}
.list_align_wrap {
	position: relative;
	width: 100%;
	margin-bottom: 15px;

	p {
		font-size: 12px;
		color: $color_06;
	}

	span {
		position: absolute;
		top: 50%; right: 0;
		transform: translate(-50%, -50%);
		font-size: 12px;
		color: $color_06;
	}
}




.storelist_box {
	position: relative;
	padding: 14px;
	box-sizing: border-box;
	border:  1px solid $color_01;
	border-radius: 5px;
	margin-bottom: 10px;
	@include display_varible($justify-content: flex-start, $align-items: flex-start);

	.img {
		position: absolute;
		top: 50%; left: 14px;
		transform: translateY(-50%);
		width: 123px;
		height: 123px;
		overflow: hidden;
		border-radius: 5px;
		@include display_varible;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.text {
		position: relative;
		height: 123px;
		margin-left: 132px;
		.store_name {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.store_desc {
			font-size: 13px;
			color: $color_06;
			margin-bottom: 5px;
		}

		.store_address {
			font-size: 10px;
			color: $color_03;
		}

		.tag_list {
			position: absolute;
			bottom: 0; left: 0;
		}
	}
}


.tag {
	display: inline-block;
	padding: 0 13px;
	height: 22px;
	line-height: 22px;
	background-color: #E0F8FF;
	border-radius: 22px;
	font-size: 10px;
	color: #006F92;
}





// 상점 디테일페이지
.detail_page_top {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	@include display_varible;

	.back_btn {
		position: absolute;
		top: 50%; left: 12px;
		transform: translateY(-50%);
	}

	span {
		font-size: 16px;
		font-weight: bold;
	}

	> .story_tit {
		p {
			font-size: 10px;
			text-align: center;
			color: $color_02;
		}
	}

	.shopping_cart_btn {
		position: absolute;
		top: 50%; right: 12px;
		transform: translateY(-50%);
	}

}




// 상점정보 css

.store_info_wrap {
	.storeinfo_info_top {
		background-color: #ffffff;
		margin-bottom: 10px;

		.storeinfo_info_content {
			padding: 15px 0 30px 0;

			> div {
				.store_classification {
					display: inline-block;
					font-size: 12px;
					color: $color_06;
					margin-bottom: 15px;
				}

				.store_name {
					font-size: 23px;
					font-weight: bold;
				}

				.store_detail_info {
					@include display_varible($justify-content: flex-start);
					margin-bottom: 25px;
					> div {
						@include display_varible($display: inline-flex, $justify-content: flex-start);
						margin-right: 5px;

						img {
							margin-right: 3px;
						}

						span {
							display: inline-block;
							line-height: initial;
						}
					}
				}


				.store_contact_info {
					@include display_varible($justify-content: flex-start);

					> div {
						@include display_varible($display: inline-flex, $justify-content: flex-start);
						margin-right: 20px;

						img {
							margin-right: 8px;
						}

						span {
							font-size: 14px;
						}
					}


				}
			}
		}
	}

	.storeinfo_info_bottom {
		background-color: #ffffff;
		.storeinfo_tab_btn ul {
			font-size: 0;
			border-bottom: 1px solid $color_01;
		}
		.storeinfo_tab_btn ul li {
			width: 25%; height: 46px;
			@include display_varible($display: inline-flex);
			font-size: 13px;
			box-sizing: border-box;

			&.on {
				border-top: 2px solid $maincolor;
				font-weight: bold;
			}
		}

		.storeinfo_tab_cnt {

			.content {
				padding: 45px 0 60px 0;

				&.store_detail {
					> .row {
						
						> div {
							h4 {
								font-size: 14px;
								margin-bottom: 20px;
							}
							margin-bottom: 60px;
						}

					}
				}
			}
			
		}
	}
}


// detail page image wrap
.detailpage_img_wrap {
	width: 100%; height: 330px;
	@include display_varible;
	img {
		max-width: 100%;
		max-height: 100%;
	}
	border-bottom: 1px solid #cccccc;
}





.channel_list_content {

	> div {
		padding: 30px 0 20px 0;
		background-color: #ffffff;

		h3 {
			font-size: 16px;
			font-weight: bold;
			padding: 0 12px 15px 12px;
		}
	}

	> div:first-child {
		padding: 60px 0 20px 0;
		margin-bottom: 10px;
	}
	
}

.channel_list_box{
	position: relative;
	padding: 14px;
	box-sizing: border-box;
	border:  1px solid $color_01;
	border-radius: 5px;
	margin-bottom: 10px;
	@include display_varible($justify-content: flex-start, $align-items: flex-start);

	.img {
		position: absolute;
		width: 123px;
		height: 123px;
		top: 50%; left: 14px;
		transform: translateY(-50%);
		overflow: hidden;
		border-radius: 5px;
		@include display_varible;
		background-color: #eeeeee;

		> img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	> .desc {
		width: 100%;
		height: 123px;
		margin-left: 132px;

		.channel_name {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 5px;
		}

		.channel_desc {
			font-size: 12px;
			color: $color_05;
			margin-bottom: 10px;
		}


		.channel_detail {
			position: relative;
			width: 100%;
			height: 56px;
			padding: 6px 8px;
			background-color: $bgcolor;
			border-radius: 5px;
			box-sizing: border-box;

			@include display_varible($align-items:flex-start, $justify-content: flex-start);


			> .img {
				position: absolute;
				top: 50%; left: 8px;
				transform: translateY(-50%);
				width: 44px;
				height: 44px;
				border-radius: 3px;
				overflow: hidden;
				@include display_varible;
	

				> img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			

			.cnt {
				width: 100%;
				height: 100%;
				margin-top: 3px;
				margin-left: 54px;
				> p {
					color: $color_05;
					font-size: 12px;
					font-weight: bold;
					margin-bottom: 3px;
				}
				.info > div {
					display: inline-flex;
					align-items: center;

					span {
						font-size: 10px;
						line-height: initial;
						color: $color_03;
					}
				}
			}
		}
	}
}






// mypage

#mypage_wrap {
	> div {
		background-color: #ffffff;
	}

	> div:first-child {
		margin-bottom: 10px;
	}
}



// 마이페이지 css
.profile {
	position: relative;
	padding: 10px 0 25px 0;
	.img {
		position: absolute;
		top: 50%; left: 12px;
		transform: translateY(-50%);
		width: 60px; height: 60px;
		border-radius: 60px;
		overflow: hidden;
	}

	.text {
		height: 60px;
		flex-direction: column;
		@include display_varible($align-items: flex-start);
		margin-left: 70px;

		> p {
			font-size: 16px;
			font-weight: 700;
		}

		> span {
			font-size: 12px;
			color: $color_04;
		}

	}
}
.mypage_category_link {
	font-size: 0;

	> div {
		display: inline-block;
		width: 33.3334%; height: 75px;
		box-sizing: border-box;
		border-bottom: 1px solid $color_01;
		border-right: 1px solid $color_01;
		text-align: center;
		font-size: 0;

		> div {
			width: 100%; height: 100%;
			@include display_varible;
			flex-direction: column;
			font-size: 0;

			> span {
				margin-top: 5px;
				display: block;
				font-size: 11px;
			}
		}

		&:nth-child(3),
		&:nth-child(6) {
			border-right: none;
		}
	}
}
.mypage_bottom {
	> div {
		font-size: 0;
		position: relative;
		height: 50px;
		box-sizing: border-box;
		border-bottom: 1px solid $color_01;

		> div {
			font-size: 0;
			position: relative;
			margin-left: 12px;
			height: 100%;

			img {
				display: inline-block;
				position: absolute;
				top: 50%; left: 0;
				transform: translateY(-50%);
			}

			p {
				height: 100%;
				font-size: 13px;
				@include display_varible($justify-content: flex-start);
				margin-left: 26px;
			}

		}

		> .right_move_btn {
			position: absolute;
			top: 50%; right: 12px;
			transform: translateY(-50%);
		}

	}
}



// 스토리 디테일 페이지
.story_detail_wrap {
	> div {
		background-color: #ffffff;

		&:first-child {
			margin-bottom: 10px;
		}
	}
}

.user_story_profile {
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid $color_01;
	.img {
		position: absolute;
		top: 50%; left: 12px;
		transform: translateY(-50%);
		width: 38px; height: 38px;
		box-sizing: border-box;
		border-radius: 38px;
		border: 1px solid $color_01;
		overflow: hidden;
		@include display_varible;

		img{
			max-width: 100%;
			max-height: 100%;
		}
	}

	.cnt {
		@include display_varible($align-items: flex-start);
		flex-direction: column;
		height: 38px;
		margin-left: 48px;

		> p {
			font-size: 13px;
			font-weight: 700;
		}

		.info {
			> div {
				display: inline-flex;
				align-items: center;
				margin-right: 8px;

				span {
					font-size: 10px;
					color: $color_04;
				}
			}
		}
	}
}









// 공백처리