// css 파일가져오기
@import "common.css";

$bgcolor: #F5F5F5;
$maincolor: #EB0D2F;

// fontcolor
$color_01: #F1F1F1;
$color_02: #cccccc;
$color_03: #9E9E9E;
$color_04: #8B8B8B;
$color_05: #666666;
$color_06: #313131;

// @mixin dash-line($width, $color) {
// border: $width dashed $color;
// }

@mixin font(
  $style: normal,
  $weight: normal,
  $size: 16px,
  $family: sans-serif
) {
  font: {
    style: $style;
    weight: $weight;
    size: $size;
    family: $family;
  }
}

// 믹스인 가져올때는 @include 믹스인이름;
@mixin large-text {
	font: {
	  size: 22px;
	  weight: bold;
	  family: sans-serif;
	}
	color: orange;
  
	&::after {
	  content: "!!";
	}
  
	span.icon {
	  background: url("/images/icon.png");
	}
}


// 폰트정리
@mixin maintitle {
	font: {
		weight: bold;
		size: 18px;
		height: 21px;
	}
}


@mixin display_varible (
	$display: flex,
	$align-items: center,
	$justify-content: center){
	display: $display;
	align-items: $align-items;
	justify-content: $justify-content;
}

// max-width: 100%;
// height: auto;
// margin-left: 12px;


@mixin listWrap (
	$max-width: 100%,
	$height: auto,
	$margin-left: 12px,
) {
	max-width: $max-width;
	height: $height;
	margin-left: $margin-left;
}


@mixin listContainer (
	$white-space: nowrap,
	$overflow-x: auto,
	$overflow-y: hidden,
	$text-align: left,
){
	white-space: $white-space;
	overflow-x: $overflow-x; 
	overflow-y: $overflow-y;
	text-align: $text-align;
}

@mixin listWrapList (
	$display: inline-block,
	$vertical-align: top,
	$margin-right: 10px,
){
	display: $display;
	vertical-align: $vertical-align;
	margin-right: $margin-right;
}





#navbar {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 46px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 10;
	
}

.navbar.sub {
	background-color: #ffffff !important;
}
#navbar {
	.row {
		width: 100%;
		height: 100%;
	}

	.navbar {
		width: 100%; height: 100%;

		@include display_varible($justify-content: space-between);

		> .right > button:first-child {
			margin-right: 5px;
		}

	}
}

.main_wrap {
	background-color: $bgcolor;
}
.main_banner {
	width: 100%;
	height: 270px;

	.swiper-slide {
		width: 100% !important;
		height: inherit;
		overflow: hidden;
		background-color: $color_01;
		text-align: center;
		font-size: 18px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	> img {
		max-height: 100%;
	}

	.swiper-pagination {
		width: auto;
		left: auto;
		bottom: 17px;
		right: 12px;
		background-color: rgba(0, 0, 0, 0.5);
		display: inline-block;
		padding: 4px 12px;
		color: #ffffff;
		border-radius: 12px;
	}
	.swiper-pagination span {
		font-weight: bold;
		font-size: 12px;
		line-height: 1.2em;

	}
}


.main_link {
	padding: 20px 0;
	background-color: #ffffff;
	margin-bottom: 10px;
}
.main_link_low {
	padding: 0 20px;
}

.main_link ul {
	font-size: 0;

	li {
		display: inline-block;
		vertical-align: top;
		width: 25%;

		a {
			width: 100%; height: 45px;
			padding: 5px 0;
			@include display_varible;
			flex-direction: column;
			span {
				display: inline-block;
				margin-top: 10px;
				font-size: 11px;
				color: $color_06;
				font-weight: bold;
			}
		}
	}
}

.main_wrap > .content > div {
	padding: 25px 0 35px 0;
	margin-bottom: 10px;
	background-color: #ffffff;

	> h2 {
		padding: 0 12px 15px 12px;
	}
}

.main_live_cnt {
	background-color: #ffffff;
}

#main_live_list_wrap {
	@include listWrap;
	ul {
		@include listContainer;
		li {
			@include listWrapList;
			a {
				display: flex;
				flex-direction: column;
				@include display_varible($align-items: flex-start);

				.live_image_box {
					position: relative;
					width: 155px; height: 230px;
					border-radius: 5px;
					background: url("/img/no_image.jpeg") center center no-repeat;
					background-size: contain;
					background-color: #eeeeee;
					overflow: hidden;
				}

				.live_image_box img.live_icon {
					position: absolute;
					top: 11px; left: 11px;
				}

				.live_image_box_text {
					position: absolute;
					left: 0; bottom: 11px;
					padding: 0 11px;

					p {
						font-size: 12px;
						font-weight: bold;
						color: #ffffff;
						margin-bottom: 4px;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
					}

					span {
						font-size: 12px;
						color: #ffffff;
					}
				}

				.live_product {
					display: flex;
					align-items: center;
					padding: 8px 0;

					.live_product_img {
						overflow: hidden;
						width: 28px; height: 28px;
						margin-right: 6px;
						border-radius: 3px;
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}


					.live_product_cnt {
						p {
							font-size: 10px;
						}

						strong {
							font-size: 10px;
							color: #EB0D2F;
							font-weight: bold;
						}
					}
				}

			}
		}
	}
}


/* 메인 탭버튼 */
.main_tab_btn {
	margin-bottom: 18px;

	ul {
		font-size: 0;
		vertical-align: top;

		li {
			@include display_varible($display: inline-flex);
			width: 100px; height: 32px;
			border: 1px solid $color_01;
			background-color: $color_01;
			box-sizing: border-box;
			border-radius: 5px;

			span {
				font-size: 14px;
				margin-right: 6px;
			}

			&.on {
				border-color: #EB0D2F;
				background-color: #ffffff;

				span {
					color: #EB0D2F;
				}
			}

			img {
				vertical-align: middle;
			}
			
		}

		li:first-child  {
			margin-right: 10px;
		}
	}
}



.channel_cnt {
	@include listWrap;
	ul {
		@include listContainer;

		li {
			@include listWrapList;

			a {
				display: flex;
				@include display_varible($align-items: flex-start);
				flex-direction: column;

				.channel_cnt_image_box {
					position: relative;
					width: 155px; height: 230px;
					border-radius: 5px;
					background: url("/img/no_image.jpeg") center center no-repeat;
					background-size: contain;
					background-color: #eeeeee;
					overflow: hidden;

					.channel_cnt_text {
						position: absolute;
						left: 11px; bottom: 11px;

						p {
							font-size: 12px;
							font-weight: bold;
							color: #ffffff;
							text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
						}
					}
				}

				.channel_cnt_info {
					width: 100%;
					@include display_varible ($align-items: center, $justify-content: flex-start);
					padding: 6px 0;

					.channel_cnt_info_img {
						width: 28px;
						height: 28px;
						overflow: hidden;
						@include display_varible;
						border-radius: 3px;
						margin-right: 6px;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}

					.channel_cnt_info_name {
						span {
							font-size: 10px;
						}
						p {
							font-size: 10px;
							color: $color_04;
						}
					}
				}

			}

		}
	}
}

.badge {
	position: absolute;
	top: 0; left: 0;
	background-color: $maincolor;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px 8px;

	span {
		font-size: 10px;
		color: #ffffff;
	}
}


.main_wrap > .content > div.main_middle_banner {
	background-color: $color_01;
}

.main_middle_banner .banner {
	border-radius: 10px;
	background-color: rgb(29, 29, 82);
	width: 100%; height: 110px;
	text-align: center;
	color: #ffffff;
}



.store_cnt {
	@include listWrap;
	ul {
		@include listContainer;

		li {
			@include listWrapList;

			a {


				.store_wrap {
					border: 1px solid $color_01;
					box-sizing: border-box;
					width: 200px;
					border-radius: 5px;
					box-sizing: border-box;
					overflow: hidden;

					.store_img {
						position: relative;
						height: 165px;
						overflow: hidden;

						img {
							max-width: 100%;
							max-height: 100%;
							position: absolute;
							top: 50%; left: 50%;
							transform: translate(-50%, -50%);
						}
					}

					.store_info {
						height: 130px;
						padding: 12px;


						img {
							margin-bottom: 5px;
						}

						.store_name {
							font-size: 14px;
							margin-bottom: 3px;
						}

						.store_category {
							font-size: 11px;
							color: $color_05;
							margin-bottom: 3px;
						}

						.store_address {
							color: $color_03;
							font-size: 10px;
							margin-bottom: 5px;
						}

						.channel_info {
							width: 100%;
							@include display_varible($justify-content: flex-start);

							.channel_img {
								width: 32px; height: 32px;
								border-radius: 30px;
								border: 1px solid $color_01;
								overflow: hidden;
								margin-right: 6px;
								@include display_varible;

								img {
									max-width: 100%;
									max-height: 100%;
								}
							}

							.channel_name {
								font-size: 10px;
								color: $color_03;
							}
						}

					}
				}
			}
		}
	}
}

.main_product_btn {
	margin-bottom: 15px;
}

.btn_list {
	li {
		display: inline-block;
	}
}


.common_list {
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	padding: 0 13px;
	background-color: $color_01;
	color: $color_05;
	border-radius: 32px;
	&.on {
		color: #ffffff;
		background-color: #FF566A;
	}
}


.main_product_cnt_list {
	@include listWrap;
	ul {
		@include listContainer;
		li {
			@include listWrapList;

			a {
				.img {
					width: 145px;
					height: 145px;
					overflow: hidden;
					border-radius: 5px;
					@include display_varible;
					margin-bottom: 10px;
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}

				.product_price {
					width: 100%;

					span {
						font-weight: bold;
						font-size: 13px;
						color: #000000;
					}

					strong {
						margin-left: 5px;
						font-size: 13px;
						color: $maincolor;
					}
				}
			}
		}
	}
}


.storelist_content {

	> div {
		padding: 30px 0 20px 0;
		background-color: #ffffff;

		h3 {
			font-size: 16px;
			font-weight: bold;
			padding: 0 12px 15px 12px;
		}
	}

	> div:first-child {
		margin-bottom: 10px;
	}

	.storelist_all_list {
		
		.storelist {

		}
		
	}

}
.list_align_wrap {
	position: relative;
	width: 100%;
	margin-bottom: 15px;

	p {
		font-size: 12px;
		color: $color_06;
	}

	span {
		position: absolute;
		top: 50%; right: 0;
		transform: translate(-50%, -50%);
		font-size: 12px;
		color: $color_06;
	}
}




.storelist_box {
	padding: 14px;
	box-sizing: border-box;
	border:  1px solid $color_01;
	border-radius: 5px;
	margin-bottom: 10px;
	@include display_varible($justify-content: flex-start, $align-items: flex-start);

	.img {
		position: relative;
		width: 123px;
		height: 123px;
		margin-right: 10px;
		overflow: hidden;
		border-radius: 5px;
		@include display_varible;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.text {
		position: relative;
		height: 123px;
		.store_name {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.store_desc {
			font-size: 13px;
			color: $color_06;
			margin-bottom: 5px;
		}

		.store_address {
			font-size: 10px;
			color: $color_03;
		}

		.tag_list {
			position: absolute;
			bottom: 0; left: 0;
		}
	}
}


.tag {
	display: inline-block;
	padding: 0 13px;
	height: 22px;
	line-height: 22px;
	background-color: #E0F8FF;
	border-radius: 22px;
	font-size: 10px;
	color: #006F92;
}





// 상점 디테일페이지
.detail_page_top {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	@include display_varible;

	.back_btn {
		position: absolute;
		top: 50%; left: 12px;
		transform: translateY(-50%);
	}

	span {
		font-size: 16px;
		font-weight: bold;
	}

	.shopping_cart_btn {
		position: absolute;
		top: 50%; right: 12px;
		transform: translateY(-50%);
	}

}




// 상점정보 css

.store_info_wrap {
	.storeinfo_info_top {
		background-color: #ffffff;
		margin-bottom: 10px;
		.storeinfo_info_img {
			width: 100%; height: 330px;
			@include display_varible;
			img {
				max-width: 100%;
				max-height: 100%;
			}
			border-bottom: 1px solid #cccccc;
		}

		.storeinfo_info_content {
			padding: 15px 0 30px 0;

			> div {
				.store_classification {
					display: inline-block;
					font-size: 12px;
					color: $color_06;
					margin-bottom: 15px;
				}

				.store_name {
					font-size: 23px;
					font-weight: bold;
				}

				.store_detail_info {
					@include display_varible($justify-content: flex-start);
					margin-bottom: 25px;
					> div {
						@include display_varible($display: inline-flex, $justify-content: flex-start);
						margin-right: 5px;

						img {
							margin-right: 3px;
						}

						span {
							display: inline-block;
							line-height: initial;
						}
					}
				}


				.store_contact_info {
					@include display_varible($justify-content: flex-start);

					> div {
						@include display_varible($display: inline-flex, $justify-content: flex-start);
						margin-right: 20px;

						img {
							margin-right: 8px;
						}

						span {
							font-size: 14px;
						}
					}


				}
			}
		}
	}

	.storeinfo_info_bottom {
		background-color: #ffffff;
		.storeinfo_tab_btn ul {
			font-size: 0;
			border-bottom: 1px solid $color_01;
		}
		.storeinfo_tab_btn ul li {
			width: 25%; height: 46px;
			@include display_varible($display: inline-flex);
			font-size: 13px;
			box-sizing: border-box;

			&.on {
				border-top: 2px solid $maincolor;
				font-weight: bold;
			}
		}

		.storeinfo_tab_cnt {

			.content {
				padding: 45px 0 60px 0;

				&.store_detail {
					> .row {
						
						> div {
							h4 {
								font-size: 14px;
								margin-bottom: 20px;
							}
							margin-bottom: 60px;
						}

					}
				}
			}
			
		}
	}
}




.channel_list_content {

	> div {
		padding: 30px 0 20px 0;
		background-color: #ffffff;

		h3 {
			font-size: 16px;
			font-weight: bold;
			padding: 0 12px 15px 12px;
		}
	}

	> div:first-child {
		margin-bottom: 10px;
	}
	
}

.channel_list_box{
	padding: 14px;
	box-sizing: border-box;
	border:  1px solid $color_01;
	border-radius: 5px;
	margin-bottom: 10px;
	@include display_varible($justify-content: flex-start, $align-items: flex-start);

	.img_wrap {
		width: 35%;
		margin-right: 2%;
		> .img {
			position: relative;
			width: 100%;
			height: 123px;
			overflow: hidden;
			border-radius: 5px;
			@include display_varible;
			background-color: #eeeeee;
	
			> img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}



	> .desc {
		width: 63%;
		height: 123px;


		.channel_detail {

			padding: 8px;
			background-color: $color_01;
			border-radius: 5px;

			@include display_varible($align-items:flex-start, $justify-content: flex-start);


			.img {
				width: 44px;
				height: 44px;
				border-radius: 3px;
				overflow: hidden;
				@include display_varible;
				border: 1px solid #666666;

				img {
					max-width: 100%;
					max-height: 1000%;
				}
			}
			

			.cnt {
				> p {
					color: $color_05;
					font-size: 10px;
					font-weight: bold;
				}
			}
		}
	}
}

